@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.w-1070 {
    width: 1070px;
    margin: 0 auto;
}

/*---------------------------------header-------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    font-family: "DM Sans", sans-serif;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header nav ul a {
    color: #696871;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.469px;
}

.header__active-link {
    color: #19191B;
    border-bottom: 2px solid #5454D4;
}

.header__button {
    width: 211.02px;
    height: 60px;
    border-radius: 10px;
    background: #FF7143;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}

/*---------------------------------hero------------------------------------*/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 68px;
}

.hero div h1 {
    width: 439.411px;
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: -2.501px;
}

.hero div p {
    width: 409.426px;
    color: #696871;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.625px;
    margin: 30px 0 50px 0;
}

.hero div button {
    width: 188.211px;
    height: 60px;
    border-radius: 10px;
    background: #5454D4;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
    border: none;
}

/*---------------------brands---------------------*/
.brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 212px 0 160px 0;

}

/*----------------------------subscription-index-------------------------*/

.subscription-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 83px;
}

.subscription-index div h2 {
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: -1.563px;
    width: 556px;
}

.subscription-index div p {
    color: #696871;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.625px;
    width: 459px;
    margin: 30px 0 30px 0;
}

.subscription-index-active-link {
    color: #5454D4;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}


/*------------------------------In-depth metrics----------------------------*/
.in-depth-metrics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.in-depth-metrics h2 {
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: -1.563px;
    width: 409px;
}

.in-depth-metrics p {
    color: #696871;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.625px;
    width: 409px;
    margin: 30px 0 30px 0;
}

.in-depth-metrics a {
    color: #5454D4;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.531px;
}

/*-------------------------------------metrics------------------------------------*/
.metrics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 0 150px 0;
}

.metrics h3 {
    padding: 7px 0 20px 0;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    height: 97px;
}

/*----------------------benchmark--------------------------------*/
.benchmark img {
    width: 114px;
    height: 64px;
    margin: 20px 7px 13px 30px;
}

.benchmark {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.benchmark h3 {
    color: #19191B;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.75px;
}

.benchmark p {
    color: #696871;
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5px;
    width: 307px;
}

/*-----------------------------------calculator----------------------------------*/
.calculator img {
    width: 91px;
    height: 72px;
    margin: 12px 10px 13px 50px;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculator h3 {
    color: #19191B;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.75px;
}

.calculator p {
    color: #696871;
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5px;
    width: 307px;
}

/*---------------------------------------camera----------------------------*/
.camera img {
    width: 118px;
    height: 63px;
    margin: 21px 16px 13px 17px;
}

.camera {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.camera h3 {
    color: #19191B;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.75px;
}

.camera p {
    color: #696871;
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5px;
    width: 307px;
}

/*---------------------------------get plan---------------------------*/

.get-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.get-plan h2 {
    width: 523px;
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1.876px;
}

.main-button {
    width: 344px;
    height: 65px;
    border-radius: 10px;
    background: #F7F7FB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yearly-button {
    width: 160px;
    height: 55px;
    border-radius: 10px 0 0 10px;
    background: #5454D4;
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.yearly-button p {
    color: #FFF;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.monthly-button {
    width: 160px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monthly-button p {
    color: #19191B;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.5px;

}

/*---------------------------------------plans-container----------------------------------*/
.plans-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 82px 0 158px 0;
    gap: 17px;
}

/*----------------------------container-started----------------------------------*/
.container-started {
    width: 330px;
    height: 441px;
    border-radius: 10px;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 34px 0 27px 0;
}

.container-started h4 {
    color: #696871;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.563px;
    margin-top: 0;
    margin-bottom: 22px;
}

.container-started h2 {
    color: #1D293F;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.034px;
    margin-top: 0;
    margin-bottom: 28px;
}

.container-started p {
    color: #696871;
    text-align: center;
    font-family: Mulish, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.531px;
    width: 118px;
    height: 150px;
    margin-top: 0;
    margin-bottom: 36px;
}

.container-started button {
    width: 285px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #EAE9F2;
    background: #FFF;
    color: #5454D4;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.531px;
}

/*---------------------------container-premium-----------------------------------*/
.container-premium {
    width: 376px;
    height: 473px;
    border-radius: 10px;
    background: #FF7143;
    box-shadow: 0 32px 34px 0 rgba(255, 112, 59, 0.32);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0 43px 0;
}

.container-premium h4 {
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.563px;
    margin-top: 0;
    margin-bottom: 22px;
}

.container-premium h2 {
    color: #FFF;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.034px;
    margin-top: 0;
    margin-bottom: 28px;
    width: 200px;
    height: 56px;
}

.container-premium span {
    color: #FFF;
    font-family: "DM Sans", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.034px;
}

.container-premium p {
    width: 131px;
    height: 150px;
    color: #FFF;
    text-align: center;
    font-family: Mulish, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.531px;
    margin-top: 0;
    margin-bottom: 36px;
}

.container-premium button {
    width: 305px;
    height: 60px;
    border-radius: 10px;
    background: #9F3919;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
    border: none;
}

/*------------------------------------container-enterprise---------------------------------*/
.container-enterprise {
    width: 330px;
    height: 441px;
    border-radius: 10px;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 34px 0 27px 0;
}

.container-enterprise h4 {
    color: #696871;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.563px;
    margin-top: 0;
    margin-bottom: 22px;
}

.container-enterprise h2 {
    color: #1D293F;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.034px;
    margin-top: 0;
    margin-bottom: 28px;
    width: 205px;
    height: 56px;
}

.container-enterprise span {
    color: #1D293F;
    font-family: "DM Sans", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.034px;
}

.container-enterprise p {
    width: 136px;
    height: 150px;
    color: #696871;
    text-align: center;
    font-family: Mulish, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.531px;
    margin-top: 0;
    margin-bottom: 36px;

}

.container-enterprise button {
    width: 285px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #EAE9F2;
    background: #FFF;
    color: #5454D4;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;

}
