@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
}

header, footer {
    height: 20vh;
}

header {
    background: #8D8484;
}

footer {
    background: #BDBDBD;
}

main {
    display: flex;
}

section {
    height: 20vh;
    width: 73vw;
}

.main__contents-1 {
    background: #776969;
}

.main__contents-2 {
    background: #643030;
}

.main__contents-3 {
    background: #441818;
}

aside {
    height: 30vh;
    width: 27vw;
}

.main__spam-1 {
    background: #937575;
}

.main__spam-2 {
    background: #644C4C;
}

header, section, aside, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header, footer p {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

div, section, aside p {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
