body{
    background-image: url("https://images.unsplash.com/photo-1497124401559-3e75ec2ed794?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1{
    color: whitesmoke;
    margin-top: 40px;
    margin-left: 70px;
font-size: 30px;
}

p{
color: honeydew;
padding-left: 50px;
    padding-top: 20px;
}

img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: 50px;
    padding-top: 20px;



}
